# データ確認・前処理

In [1]:
import pandas as pd
from utils import result_df

In [2]:
df = result_df()

In [3]:
df.sample(3)

,年,月,日,回次,場所,日次,レース番号,レース名,クラスコード,芝・ダ,...,馬主名,生産者名,父馬名,母馬名,母の父馬名,毛色,生年月日,単勝オッズ,PCI,レース日
127669,23,5,14,1,新潟,6,1,未勝利,7,芝,...,仲谷善彰,小泉牧場,ゴールドアクター,グッドプリン,ブラックタイド,黒鹿,2020-04-07,44.9,52.0,2023-05-14
268380,16,4,3,3,中山,4,2,未勝利,7,ダ,...,礒野日出夫,阿部栄乃進,エンパイアメーカー,ギンマクノヨウセイ,グラスワンダー,鹿毛,2013-05-31,NaN,42.3,2016-04-03
98109,23,1,15,1,中京,6,5,未勝利,7,芝,...,ラッキーフィールド,社台ファーム,エピファネイア,エアワンピース,ロックオブジブラルタル,栗毛,2020-04-17,36.0,52.6,2023-01-15

In [4]:
df.columns

Index(['年', '月', '日', '回次', '場所', '日次', 'レース番号', 'レース名', 'クラスコード', '芝・ダ',
       'トラックコード', '距離', '馬場状態', '馬名', '性別', '年齢', '騎手名', '斤量', '頭数', '馬番',
       '確定着順', '入線着順', '異常コード', '着差タイム', '人気順', '走破タイム', '走破時計', '補正タイム',
       '通過順1', '通過順2', '通過順3', '通過順4', '上がり3Fタイム', '馬体重', '調教師', '所属地', '賞金',
       '血統登録番号', '騎手コード', '調教師コード', 'レースID', '馬主名', '生産者名', '父馬名', '母馬名',
       '母の父馬名', '毛色', '生年月日', '単勝オッズ', 'PCI', 'レース日'],
      dtype='object')

In [5]:
# https://targetfaq.jra-van.jp/faq/detail?site=SVKNEGBV&id=706
# =======================================
#              クラスコード
# =======================================
# 7　　　　  未勝利
# 11	　　未出走
# 15	　　新馬
# 19	　　400万下
# 23	　　500万下
# 39	　　900万下
# 43	　　1000万下
# 63	　　1500万下
# 67	　　1600万下
# 131	　　重賞以外のオープン
# 147	　　グレード無し重賞
# 163	　　G3
# 179	　　G2
# 195	　　G1
# =======================================

df["クラスコード"].unique()

array([  7,  15,  23,  43,  67, 179, 163, 131, 195, 147, 115])

In [6]:
df[['補正タイム', '走破タイム', '走破時計', '上がり3Fタイム']].sample(3)

        補正タイム  走破タイム  走破時計  上がり3Fタイム
447215     78  123.1  2031      35.8
256330     88   96.2  1362      33.9
371007     83  120.8  2008      39.2