# ダイワメジャー産駒の分析

In [1]:
import pandas as pd
from utils import result_df

In [2]:
df = result_df()

In [4]:
# 父ダイワメジャー or 母父ダイワメジャー

sire = (df["父馬名"] == "ダイワメジャー")
ground_type = (df["芝・ダ"] == "芝")
cond = sire & ground_type
df_daiwa = df[cond]

In [5]:
df_daiwa.sample(1)

,年,月,日,回次,場所,日次,レース番号,レース名,クラスコード,芝・ダ,...,馬主名,生産者名,父馬名,母馬名,母の父馬名,毛色,生年月日,単勝オッズ,PCI,レース日
493484,20,5,23,2,東京,9,4,未勝利,7,芝,...,タカシマ,シンボリ牧場,ダイワメジャー,スイートハビタット,Grand Lodge,栗毛,2017-03-30,NaN,49.3,2020-05-23

In [7]:
# 距離を指定された範囲で分類
def classify_distance(distance):
    if 1000 <= distance <= 1399:
        return '1000-1399m'
    elif 1400 <= distance <= 1799:
        return '1400-1799m'
    elif 1800 <= distance <= 2199:
        return '1800-2199m'
    elif 2200 <= distance <= 2600:
        return '2200-2600m'
    elif distance > 2600:
        return '2601m-'
    else:
        return 'その他'

# 距離を新しいカテゴリに変換
df_daiwa['距離分類'] = df_daiwa['距離'].apply(classify_distance)

# 距離分類ごとにグループ化
grouped = df_daiwa.groupby('距離分類')

# 成績を表示
def display_results(group):
    value_counts = group['確定着順'].value_counts()
    total = len(group)

    count_1 = value_counts.get(1, 0)
    count_2 = value_counts.get(2, 0)
    count_3 = value_counts.get(3, 0)
    count_4 = value_counts.get(4, 0)
    count_5 = value_counts.get(5, 0)
    count_other = total - (count_1 + count_2 + count_3 + count_4 + count_5)

    # 各割合を計算
    win_rate = count_1 / total * 100
    place_rate = (count_1 + count_2) / total * 100
    show_rate = (count_1 + count_2 + count_3) / total * 100
    board_rate = (count_1 + count_2 + count_3 + count_4 + count_5) / total * 100

    return (
        f"{count_1}-{count_2}-{count_3}-{count_4}-{count_5}-{count_other} "
        f"| 出走数: {total} "
        f"| 勝率: {win_rate:.2f}% "
        f"| 連対率: {place_rate:.2f}% "
        f"| 複勝率: {show_rate:.2f}% "
        f"| 掲示板率: {board_rate:.2f}%"
    )

# 距離分類別の成績を表示
for distance_category, group in grouped:
    print(f"距離分類: {distance_category} -> 成績: {display_results(group)}")

距離分類: 1000-1399m -> 成績: 196-206-218-163-175-1418 | 出走数: 2376 | 勝率: 8.25% | 連対率: 16.92% | 複勝率: 26.09% | 掲示板率: 40.32%
距離分類: 1400-1799m -> 成績: 284-281-290-278-225-1831 | 出走数: 3189 | 勝率: 8.91% | 連対率: 17.72% | 複勝率: 26.81% | 掲示板率: 42.58%
距離分類: 1800-2199m -> 成績: 113-153-116-127-113-910 | 出走数: 1532 | 勝率: 7.38% | 連対率: 17.36% | 複勝率: 24.93% | 掲示板率: 40.60%
距離分類: 2200-2600m -> 成績: 17-10-20-21-12-153 | 出走数: 233 | 勝率: 7.30% | 連対率: 11.59% | 複勝率: 20.17% | 掲示板率: 34.33%
距離分類: 2601m- -> 成績: 29-29-31-30-36-163 | 出走数: 318 | 勝率: 9.12% | 連対率: 18.24% | 複勝率: 27.99% | 掲示板率: 48.74%

/tmp/ipykernel_620542/1561077330.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_daiwa['距離分類'] = df_daiwa['距離'].apply(classify_distance)

In [9]:
display_results